ul,dl,dd{ margin:0}
 ul{ padding:0; list-style:none}
 body{ margin:0; background-color:#f0f0f0}
 img{ display:block}
 *{ font-size:14px; font-family:"微软雅黑"; color:#FFF}
 a{ text-decoration:none;}
 .top-nav-box,.last-nav-box,.content{ width:1150px; margin-left:auto; margin-right:auto}
 .top-nav-bj{ background-color:#3b3a38; height:55px; min-width:1150px}
 .top-nav .left *{ float:left;}
 .top-nav .left img{ margin-top:19px; margin-right:60px}
 .top-nav .left a{ line-height:55px; margin-right:60px}
 .top-nav .left .one{ margin-top:13px}
 .top-nav .right a{ font-size:12px; font-family:"宋体"; line-height:55px; float:right}
 .top-nav .right div{ font-size:12px; font-family:"宋体"; line-height:55px; float:right}
 .title{ color:#666666; font-size:24px; font-weight:bold; margin-left:15px; margin-top:20px}
 .line{ width:1150px; height:1px; background-color:#c2c2c2; margin-top:10px}
 .box1{ width:260px; height:315px; background-color:#73d2e6; overflow:hidden; float:left}
 .box1 .box-title{ font-size:24px; font-weight:bold; text-align:center; margin-top:78px}
 .box1 .box-title2{ font-size:21px;text-align:center; margin-top:10px; margin-bottom:20px}
 .box1 img{ margin-left:90px}
 .box2{ width:260px; height:315px; background-color:#FFF; overflow:hidden; float:left;}
 .big-box .box2 .w0{ text-align:center; margin-top:90px; color:#4ab0c6; font-size:18px}
 .big-box .box2 .w1{ text-align:center; margin-top:20px; color:#4ab0c6; font-size:18px} 
 .big-box2 .box2 .w0{ text-align:center; margin-top:125px; color:#4ab0c6; font-size:18px}
 .big-box2 .box2 .w1{ text-align:center; margin-top:20px; color:#4ab0c6; font-size:18px}
 .big-box3 .box2 .w0{ text-align:center; margin-top:55px; color:#4ab0c6; font-size:18px}
 .big-box3 .box2 .w1{ text-align:center; margin-top:20px; color:#4ab0c6; font-size:18px}
 .big-box4 .box2 .w0{ text-align:center; margin-top:90px; color:#4ab0c6; font-size:18px}
 .big-box4 .box2 .w1{ text-align:center; margin-top:20px; color:#4ab0c6; font-size:18px}   
 .big-box{ margin-top:35px; margin-left:48px; box-shadow:5px 5px 5px #d6d6d6; width:520px; height:315px; float:left}
 .big-box2{ margin-top:35px; margin-left:20px; box-shadow:5px 5px 5px #d6d6d6; width:520px; height:315px; float:left}
 .big-box3{ margin-top:20px; margin-left:48px; box-shadow:5px 5px 5px #d6d6d6; width:520px; height:315px; float:left}
 .big-box4{ margin-top:20px; margin-left:20px; box-shadow:5px 5px 5px #d6d6d6; width:520px; 
 	height:315px; float:left;margin-bottom:70px;}
 .last-div{ clear:both}