ul,dl,dd{ margin:0}
     ul{ padding:0; list-style:none}
    body{ margin:0; background-color:#f0f0f0}
   img{ display:block}
   *{ font-size:14px; font-family:"微软雅黑"; color:#FFF}
   a{ text-decoration:none;}
   .top-nav-box,.last-nav-box,.content{ width:1150px; margin-left:auto; margin-right:auto}
    .top-nav-bj{ background-color:#3b3a38; height:55px; min-width:1150px}
   .top-nav .left *{ float:left;}
   .top-nav .left img{ margin-top:19px; margin-right:60px}
   .top-nav .left a{ line-height:55px; margin-right:60px}
   .top-nav .left .one{ margin-top:13px}
   .top-nav .right a{ font-size:12px; font-family:"宋体"; line-height:55px; float:right}
   .top-nav .right div{ font-size:12px; font-family:"宋体"; line-height:55px; float:right}
   .content .line{  border-bottom: dashed 1px #4d4d4d; width:1150px}
   .content .title{ text-align:center; font-size:24px; width:1150px; color:#4d4d4d; margin-top:20px; margin-bottom:10px}
   .content .c1{ color:#4d4d4d; margin-top:20px}
   .content .word{ width:1110px; margin-left:auto; margin-right:auto}
   .content .t1{ color:#4d4d4d; margin-top:20px; margin-bottom:10px; font-weight:bold}
   .content .c2{color:#4d4d4d; margin-bottom:20px; line-height:20px; margin-left:40px}
   .last-nav-bj *{ font-size:12px; font-family:"宋体";line-height:55px;}
   .last-nav-bj .left{ float:left}
   .last-nav-bj .right{ float:right}
   .last-nav-bj .right img{ float:right; margin-right:11px; margin-top:17px}
   .last-nav-bj .weixin{ margin-left:-30px}