    ::-webkit-input-placeholder { /* WebKit browsers */color: #b3b3b3;}
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: #b3b3b3;}
    ::-moz-placeholder { /* Mozilla Firefox 19+ */color: #b3b3b3;}
    :-ms-input-placeholder { /* Internet Explorer 10+ */color: #b3b3b3;}
   input{ margin:0; padding:0; border:none;}
    body{ margin:0; background-color:#f0f0f0}
   img{ display:block}
   *{ font-size:14px; font-family:"微软雅黑"; color:#FFF}
   a{ text-decoration:none;}
   label{cursor:pointer;font-weight:normal;}
   .top-bj{ background-color:#3b3a39; height:55px;min-width:1150px}
   .top-box,.content-box,.last-nav-box{ width:1150px; margin-left:auto; margin-right:auto;}
   .top-box img{ padding-top:17px}
   .line{ background-color:#bfbfbf; width:420px; height:1px; margin-left:76px}
   .content-box *{ color:#333333}
   .content-box .left{ margin-top:85px; margin-left:100px; float:left}
   .sign{ margin-bottom:15px; margin-left:76px;}
   .sign_2{color:#808080;}
   .login-mail{ margin-top:20px}
   .login-mail input{ width:260px; height:40px; border:solid 1px #bfbfbf; color:black; 
   font-family:"宋体" ; font-size:14px; text-indent:10px; margin-left:20px;}
   .login-mail *{ float:left}
   .login-mail .word{ margin-top:12px}
    .login-password{ margin-top:20px}
   .login-password input{ width:260px; height:40px; border:solid 1px #bfbfbf; color:black; 
   font-family:"宋体" ; font-size:14px; text-indent:10px; margin-left:20px;}
   .login-password1 input{ width:260px; height:40px; border:solid 1px #bfbfbf; color:black; 
   font-family:"宋体" ; font-size:14px; text-indent:10px; margin-left:20px;}
   .login-password *{ float:left}
   .login-password .word{ margin-top:12px}
   .lastdiv{ clear:both}
   .aut-login{ margin-left:76px; margin-top:20px; margin-bottom:10px}
   .aut-login *{ float:left; }
   .aut-login .word{ margin-left:5px}
   .login-button{ margin-left:76px; margin-top:10px;width:260px;}
   .ver-line{ width:1px; height:491px; background-color:#bfbfbf; margin-left:558px; margin-top:-465px}
   .content-box .right{ float:right; margin-right:176px; margin-top:98px}
   .right .word{ margin-top:30px; margin-bottom:20px}
   .last-nav-bj *{ font-size:12px; font-family:"宋体";line-height:55px;}
   .last-nav-bj .left{ float:left}
   .last-nav-bj .right{ float:right}
   .last-nav-bj .right img{ float:right; margin-right:11px; margin-top:17px}
   .last-nav-bj .weixin{ margin-left:-30px}
    .login-password1 {margin-top:20px; margin-left:-28px}
   .login-password1 *{ float:left}
   .login-password1 .word{ margin-top:12px}
   .aut-login .word a{ color:#ff6157}
   #ctl00_ContentPlaceHolder1_Button_Register{width:260px; height:50px;background:url('../../Images/Pic_Main/reg-button.jpg')}
   .jian-16{ float:left; margin-left:10px; margin-top:2px}
   .sign{ margin-bottom:15px; margin-left:76px; float:left;}
   #email_register{cursor: pointer;color:blue;}
   #mobile_register{cursor: pointer;color:blue;}
   #mobile_glyphicon_ok,#mobile_glyphicon_remove,#email_glyphicon_ok,#email_glyphicon_remove{display: none;}
   .check_notice_word{color: red;margin-top: 10px;margin-left: 10px;}
   .word5{margin-left: 15px;margin-top:10px;}
   .sign_2{color:#808080;}
   #ctl00_ContentPlaceHolder1_TB_Rg_FirstName{width:95px;margin-left: 5px;}
   #ctl00_ContentPlaceHolder1_TB_Rg_SecondName{width:95px;margin-left:5px;}
   #ctl00_ContentPlaceHolder1_RegularExpressionValidator2,#ctl00_ContentPlaceHolder1_RequiredFieldValidator4,
   #ctl00_ContentPlaceHolder1_RegularExpressionValidator3,#ctl00_ContentPlaceHolder1_RequiredFieldValidator1,
   #ctl00_ContentPlaceHolder1_RequiredFieldValidator,#ctl00_ContentPlaceHolder1_RequiredFieldValidator6,
   #ctl00_ContentPlaceHolder1_RegularExpressionValidator1,#ctl00_ContentPlaceHolder1_RequiredFieldValidator2,
   #ctl00_ContentPlaceHolder1_EmailRegularValidator{margin-top: 10px;margin-left: 10px;}
   .word2{margin-top:10px;}
   .last-nav-bj{position:fixed;}